.content {
    /* display: flex; */
  /* flex-direction: row; */
  /* height: 100vh; */
  /* overflow: scroll; */
    width: 100%;
    max-width: 80%;
    margin-left: 10%;
    margin-top: 55px;
}

.main-stage {
    width: 100%
}

.textBox{
    width: 100%;
    display: flex;
    margin: 10px 10px;
    flex-direction: column;
    max-width: 25%;    
}
.first_div{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: start;
    align-items: center;
}
.first_div, .first_div_label{
    width: 100%;
    min-width: 15px;
}